---
import type { HTMLAttributes } from "astro/types";
import Logo from "./logo.astro";
import { cn } from "@/utils/tailwind-class-merge";

type Props = HTMLAttributes<"svg">;

const { class: className, ...attrs } = Astro.props;
---

<header class={cn("p-4", className)} {...attrs}>
  <a href="/" aria-label="Home" class="w-fit block">
    <Logo width={28} />
  </a>
</header>
